@font-face {
    font-family: "Montreal";
    src: url("fonts/neuemontreal/PPNeueMontreal-Book.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Montreal Italic";
    src: url("fonts/neuemontreal/PPNeueMontreal-Italic.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
:root{
    --beige: #f7e5db;
    --darkblue: #2e557c;
    --darkpink: #e56e96;

}
/* CSS Resets */
* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

/* Page styling */
body {
    background-color: var(--darkblue);
    color: var(--beige);
    transition: all 2s;
}

h1{
    font-family: "Montreal Italic";
    font-size: 2rem;
    line-height: 0;
}

h2{
    font-family: "Montreal Italic";
    font-size: 1.1rem;
}

h3{
    font-family: "Montreal Italic";
}
p{
    font-family: "Montreal";
}


body.switch {
    background-color: rgb(235, 235, 235);
    color: #333;
}

#container {
    position: relative;
    width: 100%;
    max-width: 1366px;
    /* make sure the columns don't get too small and text stays readable */
    min-width: 900px;
    margin: 1em auto;
    padding-top: 2em;
}

header {
    margin: 0 auto 2em auto;
}

#banner {
    position: relative;
    display: flex;
    width: 1100px;
    height: 250px;
    margin: auto;
    background-color: rgb(235, 235, 235);
    color: #333;
    overflow: hidden;
    display: grid;
	place-items: center;
}

#banner.switch {
    background-color: #333;
    color: rgb(235, 235, 235);
    transition: all 2s;
}

main {
    display: flex;
    justify-content: space-evenly;
    margin: 1em auto;
}

main section {
    flex: 1;
    border: 1px rgb(235, 235, 235) dashed;
    margin: 0 .25em;
    padding: 1em;
}

a {
    text-decoration: none;
    font-family: "Montreal";
}

nav ol, nav ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

section li {
    padding-left: 1.2em;
}

section a {
    line-height: 1.1em;
    display: inline-block;
    padding: .5em;
    color: var(--darkpink);
}

section a:hover {
    background-color: var(--darkpink);
    border-radius: 20px;
    color: #333;
}

section.switch a {
    color: #333;
}

section.switch a:hover {
    background-color: #333;
    color: rgb(235, 235, 235);
}

button {
    font-family: "Montreal";
    border-radius: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 12px;
    background-color: var(--darkpink);
    color: #333;
    border: 1px solid transparent;
}

button:hover {
    background-color: var(--darkpink);
    cursor: pointer;
}

button.switch {
    background-color: rgb(235, 235, 235);
    border-color: #333;
}

button.switch:hover {
    background-color: #333;
    color: rgb(235, 235, 235)
}